@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

.search-card {
  margin: 10px;
}

.my-markdown-custom-font {
  font-family: "Nunito Sans", sans-serif;
}

.div-center {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard-title {
  font-family: "Rock Salt", cursive;
}

th,
td,
tr {
  text-align: center;
}

.floating-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}
